/*Body styles element i.e. Color,
		Font, Alignment */
body {
    background-color: lightgray;
    font-family: 'Segoe UI';
    text-align: center;
    font-weight: 300;
}

/* stlyize the complete form, centering and margining */
form {
    background-color: #fff;
    max-width: 800px;
    max-height: 2400px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}


/* Style for name element */
#Name {
    align-items: left;
    margin: auto;
    font-weight: 600;
}

/* Style for firstname and lastname box element */
#fname,
#lname {
    width: 250px;
    padding: 3px;
    margin-right: 10px;
    height: 20px;
    border-radius: 3px;
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 0.5px 1px rgba(19, 14, 87, 0.5);
}
/* Style for email element */
#Email {
    align-items: left;
    margin: auto;
    font-weight: 600;
}
/* Style for email box element */
#emailBox {
    width: 250px;
    padding: 3px;
    margin-right: 10px;
    height: 20px;
    border-radius: 3px;
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 0.5px 1px rgba(7, 3, 54, 0.5);
}

/* Styling for experience section of survey form */
#expr {

    align-items: left;
    margin: auto;
    font-weight: 600;

}
/* Styling for how satisfied are you of survey form */
#satisfy1 {

    align-items: left;
    margin: auto;
    font-weight: 600;

}

/* Styling for recommendation part of survey form */
#recomm {

    align-items: left;
    margin: auto;
    font-weight: 600;
}

/* Styling for comment additional section of survey form */
#comments {

    align-items: left;
    margin: auto;
    font-weight: 600;
}


/* to display rating */
.rate {
    float: left;
    height: 46px;
    padding: 0 0px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: rgb(109, 106, 65);
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

/* Styling submit Button */
#button {
    background-color: slategrey;
    border: 1px white;
    border-radius: 8px;
    font-family: Helvetica;
    font-weight: 500;
    height: 55px;
    color: white;
    word-spacing: 5px;
    font-size: 21px;
    display: block;
    width: 40%;
    margin-top: 40px;
    margin-bottom: 20px;
}
/* shadows button on hover */
#button:hover {
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.24);
    background-color: steelblue;
    cursor: -webkit-grabbing;
}

/* Customizing the satisfied are you radio subission based table */
#satisfy-table {

    border-collapse: collapse;
    width: 100%;

}
/* Customizing the satisfied are you radio subission based table table data */
#satisfy-table td {
    padding: 5px;
    color: teal;
    font-weight: normal;
    text-align: left;
    align-content: space-between;
    align-items: baseline;

}
/* Customizing the satisfied are you radio subission based table header */
#satisfy-table th {

    color: steelblue;
    font-weight: normal;
    padding: 5px;
    align-items: flex-start;
}
/* making tables alternate rows grey */
#satisfy-table tr:nth-child(even) {
    background-color: #f2f2f2;

}

/* Customizing the recommendation table */
#rcmnd-table {

    border-collapse: collapse;
    width: 100%;

}
/* Customizing the recommendation table data */
#rcmnd-table td {
    padding: 5px;
    color: teal;
    text-align: left;
    font-weight: normal;
    align-items: baseline;

}
/* Customizing the recommendation table header*/
#rcmnd-table th {

    color: steelblue;
    font-weight: normal;
    padding: 5px;
    font-weight: 30000px;
    align-items: flex-start;
}
/* making tables alternate rows grey */

#rcmnd-table tr:nth-child(even) {
    background-color: #f2f2f2;

}

/* Stlying info for output page */
#output {

    width: 50%;
    margin: auto;
    padding: 10px;
    left: 50%;
    color: wheat;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    background-color: steelblue;
    font-family: Helvetica;
    font-weight: 600;
    border: 5px;
    border-color: black;
    box-shadow: 10px 8px 10px rgba(19, 14, 87, 0.5);

}
/* Styling for adding required filed with '*' */
/* .form-control .name label.required{
    color:red;
    content: " *";

} */
/* 
#Name label.required :after{

    color:red;
    content: "# *";
} */

.name::after{
    color:red;
    content: " *";
}
.email::after{
    color:red;
    content: " *";
}

.expr::after{
    color:red;
    content: " *";
}